body{
    height:100vh;
    background-color: #1a1a1a;
    display:flex;
    align-items: center;
    justify-content: center;

}

.todoContainer{
    width:400px;
    padding:20px 25px;
    background-color: #fff;
    border-radius: 15px;
}

.todo-item{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.todo-button{
    width:100%;
    padding:10px 20px;
    border-radius: 12px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.todoItem-text{
    margin-left: 6px;
}