.card{
  padding: 20px 40px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  margin: 40px 20px;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 22px;
  width:50%;
}

.btn{
  font-size: 20px;
  padding:8px 25px;
  border-radius: 12px;
  border:none;
  cursor:pointer;
}

.input-field{
  width:60%;
  margin-left: 100px;
  margin-right: 20px;
  font-size: 30px;
  border-radius: 12px;
  border:none;
  background-color: #d3d1d1;
  margin-bottom: 20px;
  color:#00747c;
  padding: 10px 25px;
}

.App{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}